<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.swrve.SwrvePlugin" version="1.2.0">
  <name>SwrvePlugin</name>
  <description>Android and iOS Cordova plugin for Swrve.</description>
  <author>Swrve Mobile Inc</author>
  <license>Apache 2.0</license>
  <keywords>swrve,analytics,messaging</keywords>

	<platform name="android">
    <js-module src="js/swrve-android.js" name="SwrvePlugin">
      <clobbers target="SwrvePlugin"/>
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
  	  <feature name="SwrvePlugin">
  		  <param name="android-package" value="com.swrve.SwrvePlugin"/>
        <param name="onload" value="true" />
  		</feature>
  	</config-file>

  	<source-file src="platforms/android/src/com/swrve/SwrvePlugin.java" target-dir="src/com/swrve/" />
  	<framework src="platforms/android/build.gradle" custom="true" type="gradleReference" />

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
	</platform>

	<platform name="ios">
    <js-module src="js/swrve-ios.js" name="SwrvePlugin">
      <clobbers target="SwrvePlugin"/>
    </js-module>
    <config-file target="config.xml" parent="/*">
      <feature name="SwrvePlugin">
        <param name="ios-package" value="SwrvePlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="platforms/ios/SwrvePlugin.h" />
    <source-file src="platforms/ios/SwrvePlugin.m" />

    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/LICENSE" target-dir="SwrveSDKCommon/LICENSE"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveAssetsManager.h" target-dir="SwrveSDKCommon/Common/SwrveAssetsManager.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveNotificationConstants.m" target-dir="SwrveSDKCommon/Common/SwrveNotificationConstants.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveProfileManager.m" target-dir="SwrveSDKCommon/Common/SwrveProfileManager.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveNotificationOptions.h" target-dir="SwrveSDKCommon/Common/SwrveNotificationOptions.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveRESTClient.m" target-dir="SwrveSDKCommon/Common/SwrveRESTClient.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveQA.m" target-dir="SwrveSDKCommon/Common/SwrveQA.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveCampaignInfluence.h" target-dir="SwrveSDKCommon/Common/SwrveCampaignInfluence.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveSignatureProtectedFile.h" target-dir="SwrveSDKCommon/Common/SwrveSignatureProtectedFile.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrvePermissions.m" target-dir="SwrveSDKCommon/Common/SwrvePermissions.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveNotificationManager.h" target-dir="SwrveSDKCommon/Common/SwrveNotificationManager.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoLibrary.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoLibrary.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequest.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequest.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/LICENSE" target-dir="SwrveSDKCommon/Common/Permissions/LICENSE"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestLocation.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestLocation.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestAddressBook.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestAddressBook.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequest+Private.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequest+Private.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestNotificationsRemote.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestNotificationsRemote.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequest+All.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequest+All.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoCamera.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoCamera.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoLibrary.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoLibrary.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionCategory.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionCategory.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequest.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequest.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestAddressBook.h" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestAddressBook.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestLocation.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestLocation.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoCamera.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestPhotoCamera.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequest+All.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequest+All.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Permissions/ISHPermissionRequestNotificationsRemote.m" target-dir="SwrveSDKCommon/Common/Permissions/ISHPermissionRequestNotificationsRemote.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveCommonConnectionDelegate.h" target-dir="SwrveSDKCommon/Common/SwrveCommonConnectionDelegate.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveLocalStorage.h" target-dir="SwrveSDKCommon/Common/SwrveLocalStorage.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveCommon.m" target-dir="SwrveSDKCommon/Common/SwrveCommon.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Push/SwrvePush.m" target-dir="SwrveSDKCommon/Common/Push/SwrvePush.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Push/SwrveSwizzleHelper.m" target-dir="SwrveSDKCommon/Common/Push/SwrveSwizzleHelper.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Push/SwrveSwizzleHelper.h" target-dir="SwrveSDKCommon/Common/Push/SwrveSwizzleHelper.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/Push/SwrvePush.h" target-dir="SwrveSDKCommon/Common/Push/SwrvePush.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveAssetsManager.m" target-dir="SwrveSDKCommon/Common/SwrveAssetsManager.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveProfileManager.h" target-dir="SwrveSDKCommon/Common/SwrveProfileManager.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveNotificationConstants.h" target-dir="SwrveSDKCommon/Common/SwrveNotificationConstants.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveSignatureProtectedFile.m" target-dir="SwrveSDKCommon/Common/SwrveSignatureProtectedFile.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrvePermissions.h" target-dir="SwrveSDKCommon/Common/SwrvePermissions.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveQA.h" target-dir="SwrveSDKCommon/Common/SwrveQA.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveCampaignInfluence.m" target-dir="SwrveSDKCommon/Common/SwrveCampaignInfluence.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveRESTClient.h" target-dir="SwrveSDKCommon/Common/SwrveRESTClient.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveNotificationOptions.m" target-dir="SwrveSDKCommon/Common/SwrveNotificationOptions.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveCommon.h" target-dir="SwrveSDKCommon/Common/SwrveCommon.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveCommonConnectionDelegate.m" target-dir="SwrveSDKCommon/Common/SwrveCommonConnectionDelegate.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveLocalStorage.m" target-dir="SwrveSDKCommon/Common/SwrveLocalStorage.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDKCommon/Common/SwrveNotificationManager.m" target-dir="SwrveSDKCommon/Common/SwrveNotificationManager.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/LICENSE" target-dir="SwrveConversationSDK/LICENSE"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Resources/VGConversationKitResources-Info.plist" target-dir="SwrveConversationSDK/Resources/VGConversationKitResources-Info.plist"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Resources/VERSION" target-dir="SwrveConversationSDK/Resources/VERSION"/>
    <resource-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Resources/SwrveConversation.storyboard" target-dir="SwrveConversationSDK/Resources/SwrveConversation.storyboard"/>
    <resource-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Resources/SwrveAssets.xcassets" target-dir="SwrveConversationSDK/Resources/SwrveAssets.xcassets"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationUIButton.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationUIButton.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveSetup.h" target-dir="SwrveConversationSDK/Conversation/SwrveSetup.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentImage.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentImage.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationsNavigationController.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationsNavigationController.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationResourceManagement.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationResourceManagement.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationButton.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationButton.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationContainerViewController.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationContainerViewController.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationStyler.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationStyler.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentItem.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentItem.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentStarRatingView.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentStarRatingView.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationEvents.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationEvents.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveUITableViewCell.m" target-dir="SwrveConversationSDK/Conversation/SwrveUITableViewCell.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentSpacer.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentSpacer.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentVideo.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentVideo.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentHTML.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentHTML.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationPane.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationPane.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationItemViewController.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationItemViewController.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationAtomFactory.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationAtomFactory.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentStarRating.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentStarRating.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationAtom.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationAtom.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveInputItem.m" target-dir="SwrveConversationSDK/Conversation/SwrveInputItem.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveInputMultiValue.h" target-dir="SwrveConversationSDK/Conversation/SwrveInputMultiValue.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationResource.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationResource.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationKit-Prefix.pch" target-dir="SwrveConversationSDK/Conversation/SwrveConversationKit-Prefix.pch"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveBaseConversation.m" target-dir="SwrveConversationSDK/Conversation/SwrveBaseConversation.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationResourceManagement.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationResourceManagement.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationsNavigationController.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationsNavigationController.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentImage.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentImage.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationUIButton.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationUIButton.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveMessageEventHandler.h" target-dir="SwrveConversationSDK/Conversation/SwrveMessageEventHandler.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentStarRatingView.h" target-dir="SwrveConversationSDK/Conversation/SwrveContentStarRatingView.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationStyler.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationStyler.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentItem.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentItem.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationContainerViewController.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationContainerViewController.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationButton.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationButton.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationItemViewController.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationItemViewController.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationPane.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationPane.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentHTML.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentHTML.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentVideo.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentVideo.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentSpacer.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentSpacer.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveUITableViewCell.h" target-dir="SwrveConversationSDK/Conversation/SwrveUITableViewCell.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationEvents.h" target-dir="SwrveConversationSDK/Conversation/SwrveConversationEvents.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveBaseConversation.h" target-dir="SwrveConversationSDK/Conversation/SwrveBaseConversation.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/Categories/UINavigationController+KeyboardResponderFix.h" target-dir="SwrveConversationSDK/Conversation/Categories/UINavigationController+KeyboardResponderFix.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/Categories/UIWebView+YouTubeVimeo.m" target-dir="SwrveConversationSDK/Conversation/Categories/UIWebView+YouTubeVimeo.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/Categories/UIWebView+YouTubeVimeo.h" target-dir="SwrveConversationSDK/Conversation/Categories/UIWebView+YouTubeVimeo.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/Categories/UINavigationController+KeyboardResponderFix.m" target-dir="SwrveConversationSDK/Conversation/Categories/UINavigationController+KeyboardResponderFix.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationResource.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationResource.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveInputMultiValue.m" target-dir="SwrveConversationSDK/Conversation/SwrveInputMultiValue.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveInputItem.h" target-dir="SwrveConversationSDK/Conversation/SwrveInputItem.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationAtom.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationAtom.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveContentStarRating.m" target-dir="SwrveConversationSDK/Conversation/SwrveContentStarRating.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveConversationSDK/Conversation/SwrveConversationAtomFactory.m" target-dir="SwrveConversationSDK/Conversation/SwrveConversationAtomFactory.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/LICENSE" target-dir="SwrveSDK/LICENSE"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveUtils.h" target-dir="SwrveSDK/SDK/SwrveUtils.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveIAPRewards.m" target-dir="SwrveSDK/SDK/SwrveIAPRewards.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveResourceManager.m" target-dir="SwrveSDK/SDK/SwrveResourceManager.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Swrve+Private.h" target-dir="SwrveSDK/SDK/Swrve+Private.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveDeeplinkManager.m" target-dir="SwrveSDK/SDK/SwrveDeeplinkManager.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveEventsManager.h" target-dir="SwrveSDK/SDK/SwrveEventsManager.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveReceiptProvider.h" target-dir="SwrveSDK/SDK/SwrveReceiptProvider.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveConfig.h" target-dir="SwrveSDK/SDK/SwrveConfig.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Swrve.m" target-dir="SwrveSDK/SDK/Swrve.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveEmpty.h" target-dir="SwrveSDK/SDK/SwrveEmpty.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveDeviceProperties.m" target-dir="SwrveSDK/SDK/SwrveDeviceProperties.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveSDK.m" target-dir="SwrveSDK/SDK/SwrveSDK.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveMigrationsManager.h" target-dir="SwrveSDK/SDK/SwrveMigrationsManager.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveResourceManager.h" target-dir="SwrveSDK/SDK/SwrveResourceManager.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveIAPRewards.h" target-dir="SwrveSDK/SDK/SwrveIAPRewards.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveUtils.m" target-dir="SwrveSDK/SDK/SwrveUtils.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveEventsManager.m" target-dir="SwrveSDK/SDK/SwrveEventsManager.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveReceiptProvider.m" target-dir="SwrveSDK/SDK/SwrveReceiptProvider.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveDeeplinkManager.h" target-dir="SwrveSDK/SDK/SwrveDeeplinkManager.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Swrve.h" target-dir="SwrveSDK/SDK/Swrve.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveProtocol.h" target-dir="SwrveSDK/SDK/SwrveProtocol.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveConfig.m" target-dir="SwrveSDK/SDK/SwrveConfig.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveMigrationsManager.m" target-dir="SwrveSDK/SDK/SwrveMigrationsManager.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageFormat.m" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageFormat.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveCampaignStatus.h" target-dir="SwrveSDK/SDK/Messaging/SwrveCampaignStatus.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveCampaign.h" target-dir="SwrveSDK/SDK/Messaging/SwrveCampaign.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveInterfaceOrientation.h" target-dir="SwrveSDK/SDK/Messaging/SwrveInterfaceOrientation.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveTriggerCondition.m" target-dir="SwrveSDK/SDK/Messaging/SwrveTriggerCondition.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveButton.m" target-dir="SwrveSDK/SDK/Messaging/SwrveButton.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageViewController.m" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageViewController.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveTrigger.m" target-dir="SwrveSDK/SDK/Messaging/SwrveTrigger.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageController.h" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageController.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveInAppCampaign.m" target-dir="SwrveSDK/SDK/Messaging/SwrveInAppCampaign.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveQAUser.m" target-dir="SwrveSDK/SDK/Messaging/SwrveQAUser.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessage.m" target-dir="SwrveSDK/SDK/Messaging/SwrveMessage.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveImage.m" target-dir="SwrveSDK/SDK/Messaging/SwrveImage.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageController+Private.h" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageController+Private.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageDelegate.h" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageDelegate.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveTriggerCondition.h" target-dir="SwrveSDK/SDK/Messaging/SwrveTriggerCondition.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveCampaign.m" target-dir="SwrveSDK/SDK/Messaging/SwrveCampaign.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageFormat.h" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageFormat.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveQAUser.h" target-dir="SwrveSDK/SDK/Messaging/SwrveQAUser.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveInAppCampaign.h" target-dir="SwrveSDK/SDK/Messaging/SwrveInAppCampaign.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageController.m" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageController.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveTrigger.h" target-dir="SwrveSDK/SDK/Messaging/SwrveTrigger.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessageViewController.h" target-dir="SwrveSDK/SDK/Messaging/SwrveMessageViewController.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveButton.h" target-dir="SwrveSDK/SDK/Messaging/SwrveButton.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveImage.h" target-dir="SwrveSDK/SDK/Messaging/SwrveImage.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveCampaign+Private.h" target-dir="SwrveSDK/SDK/Messaging/SwrveCampaign+Private.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Messaging/SwrveMessage.h" target-dir="SwrveSDK/SDK/Messaging/SwrveMessage.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveSDK.h" target-dir="SwrveSDK/SDK/SwrveSDK.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveDeviceProperties.h" target-dir="SwrveSDK/SDK/SwrveDeviceProperties.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/SwrveEmpty.m" target-dir="SwrveSDK/SDK/SwrveEmpty.m"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Conversation/SwrveConversation.h" target-dir="SwrveSDK/SDK/Conversation/SwrveConversation.h"/>
    <header-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Conversation/SwrveConversationCampaign.h" target-dir="SwrveSDK/SDK/Conversation/SwrveConversationCampaign.h"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Conversation/SwrveConversation.m" target-dir="SwrveSDK/SDK/Conversation/SwrveConversation.m"/>
    <source-file src="platforms/ios/SwrveSDK/SwrveSDK/SDK/Conversation/SwrveConversationCampaign.m" target-dir="SwrveSDK/SDK/Conversation/SwrveConversationCampaign.m"/>

  </platform>
</plugin>
